body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #455a64;
}

.title {
    text-align: center;
    text-transform: uppercase;
    color: #818f95;
    font-size: 52px;
}

.input {
    width: 100%;
    color: #455a64;
    font-size: 48px;
    text-align: center;
    padding: 2px;
    background-color: #818f95;
    border: 0;
}

.result {
    padding: 20px 0;
    text-align: center;
    color: #818f95;
    display: block;
}
.result .label{
    color: #818f95;
    font-size: 20px;
    font-weight: bold;
}
.version {
    display: block;
    text-align: center;
}